{% extends 'base/master.html' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <!-- AJAX/JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    
    {% load static %}
    <script src="{% static 'js/register.js' %}" ></script>
{% endblock %}

{% block title %}
.:RECUPERAR CONTRASEÑA:.
{% endblock %}

{% block body %}
{% load static %}
<body background="{% static 'imagenes/background5.jpg' %}">
{% endblock %}

{% block content %}

<!-- <h1>Login</h1>
<div class=container>
    <div class="card mt-5">
        <div class="card-body">

                <div class="container p-5">
                    <h2 class="font-weight-bold mt-3">Reset Password</h2>
                <hr>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ password_reset_form }}                    
                    <button class="btn btn-primary" type="submit">Send email</button>
                </form>
                </div> 

        </div>
    </div>
</div> -->

<h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: white; text-align: center;">Olvide mi contraseña</h1>
<p style="color: white; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">
    ¿Olvidaste tu contraseña? Ingresa tu dirección de correo electronico a continuación y le enviaremos
    las instrucciones para configurar una nueva. 
</p>
<div class="section container">
    <div class="row card-panel" style="background-color: #FFFFFF; border-radius: 30px;">
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }}                    
            <!-- <button class="btn btn-primary" type="submit">Send email</button> -->
            <div ALIGN="center">
                <button type="submit" class="btn btn-primary mt-4" style="background-color: blueviolet;">Enviar correo</button>
            </div>        
        </form>
    </div>
</div>

{% endblock %}
