{% extends 'base/master.html' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <!-- <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> -->
    <!-- AJAX/JQUERY -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>     -->
    
    {% load static %}
    <script src="{% static 'js/newPassword.js' %}" ></script>
{% endblock %}

{% block title %}
Reestablecer contraseña
{% endblock %}

{% block content %}

<h1>Login</h1>
<div class=container>
    <div class="card mt-5">
        <div class="card-body">

  <!--Password Reset Confirm-->
  <div class="container p-5">
    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
    <hr>
    <p>Please enter your new password.</p>

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}    
    <form method="POST" id="form_set_new_password">
        {% csrf_token %}
        <!-- {{ form }}                     -->

        <label for="id_new_password1">New password:</label>
        <input type="password" maxlength="8" minlength="8" name="new_password1" required="" id="id_new_password1" class="form-control">
        <label for="id_new_password2">New password confirmation:</label>
        <input type="password" maxlength="8" minlength="8" name="new_password2" required="" id="id_new_password2" class="form-control">                    
        <p id="passwordsHelp" class="form-text">La contraseña debe tener 8 caracteres</p>
        
        <button class="btn btn-primary" type="submit">Reset password</button>
    </form>
</div>
                
        </div>
    </div>
</div>

{% endblock %}
