{% extends 'base/master.html' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <!-- AJAX/JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    
    {% load static %}
    <script src="{% static 'js/register.js' %}" ></script>
{% endblock %}

{% block title %}
.:CONTRASEÑA ACTUALIZADA:.
{% endblock %}

{% block body %}
    {% load static %}
    <body background="{% static 'imagenes/background5.jpg' %}">
{% endblock %}

{% block content %}

<div class="section container">
    <br><br><br><br>
        <div class="row center">
            <div class="col s12 m12 center">
            <div class="card" style="background-color: #006D82;" ALIGN="center">
               <br>
                <div class="card-content white-text">
                <span class="card-title">¡Reestablecimiento de contraseña completo!</span><br>
                <p>Su contraseña ha sido reestablecida exitosamente. Puede
                    continuar e iniciar sesión.
                </p>
                <br>
                <div ALIGN="center">
                    <a href="{% url 'login-view' %}" class="btn btn-primary mt-4" style="background-color: blueviolet;color: white;">Iniciar sesión</a>
                </div>
                <br>
                <p></p>
                </div>
                <br>
            </div>
            </div>
        </div>
        <br><br><br><br>
</div>

{% endblock %}
