{% extends 'base/master.html' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <!-- AJAX/JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    
    {% load static %}
    <script src="{% static 'js/register.js' %}" ></script>
{% endblock %}

{% block title %}
Reestablecer contraseña
{% endblock %}

{% block content %}

<h1>Login</h1>
<div class=container>
    <div class="card mt-5">
        <div class="card-body">

	<!--Password reset sent-->
	<div class="container p-5">
        <h2 class="font-weight-bold mt-3">Password reset sent</h2>
          <hr>
          <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
                
        </div>
    </div>
</div>

{% endblock %}
